body{
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
  --bs-body-color:#ECDFCC;
}

.bgc{
  background-color: #1E201E;
}

.bgcs{
  background-color: #3C3D37;
}

.bgcs_t{
  border-color: #3C3D37;
}

.hc, h1, h2, h3, h4, h5, h6, .card-header, .dropdown-toggle-split, .card-subtitle, .fa-github, .fa-linkedin, .sub_text{
  color: #697565;
}

.pc, .card-text, .card-title, .dropdown-item, .badge{
  color: #ECDFCC;
}

p, h6{
  margin: 0;
}

.bdrs{
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.name_effect{
  text-shadow: 2px 2px 10px rgba(197, 192, 192, 0.5);
  animation: blinkShadow 2s infinite;
  -webkit-text-stroke: 2px #3C3D37;
}

@keyframes blinkShadow {
  0%, 70%, 100% {
      text-shadow: 2px 2px 10px rgba(196, 190, 190, 0.5);
  }
  10%, 50%, 80% {
      text-shadow: 2px 2px 10px rgba(180, 168, 168, 0);
  }
}

.bdr-animation{
  padding: 3px;
  width: fit-content;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.bdr-animation::after, .bdr-animation::before{
  content: '';
  position: absolute;
  height: 110px;
  width: 110px;
  background-image: conic-gradient(from var(--angle), transparent 10%, green, #1E201E, green, #1E201E);
  top: 61px;
  right: -41px;
  translate: -50% -50%;
  z-index: 1;
  border-radius: 50%;
  animation: 3s spin linear infinite;
}

.bdr-animation::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.text-indent{
  text-indent: 50px;
}

.btp_o{
  --bs-btn-border-color: #3C3D37;
  --bs-btn-hover-bg: #3C3D37;
  --bs-btn-active-bg: #3C3D37;
}

.btp_o_1{
  --bs-btn-border-color: #697565;
  --bs-btn-hover-bg: #697565;
  --bs-btn-active-bg: #697565;
}

.modal-header{
  --bs-modal-header-border-color: #697565;
}

.modal-footer{
  --bs-modal-footer-border-color: #697565;
}

.focus-ring{
  --bs-focus-ring-color:#697565;
}

.section1 {
  position: fixed;
}

@media only screen and (max-width: 1400px) {
  .section1 {
    width: 35rem;
  }
}

@media only screen and (max-width: 1200px) {
  .section1 {
    width: 27rem;
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 850px) {
  .section1 {
    width: 23rem;
  }
  .scrollspyHeading1{
    height: unset!important;
    margin-bottom: 0px!important;
  }
  .sh2_1{
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .scrollspyHeading1{
    margin-top: 3rem !important;
  }
  .scrollspyHeading2{
    margin-top: 3rem!important;
    margin-bottom: unset!important;
  }
  .scrollspyHeading3{
    margin-top: 3rem!important;
    margin-bottom: unset!important;
  }
  .scrollspyHeading4{
    margin-top: 3rem!important;
    margin-bottom: unset!important;
  }
  .scrollspyHeading5{
    margin-top: 3rem!important;
    margin-bottom: unset!important;
  }
  footer{
    margin-top: 3rem!important;
  }
}

@media only screen and (max-width: 767px) {
  .section1 {
    position: unset;
    width: unset;
  }
  body{
    max-width: 720px;
  }
  .scrollspyHeading2{
    margin-bottom: 3rem!important;
  }
  .scrollspyHeading3{
    margin-bottom: 3rem!important;
  }
  .scrollspyHeading4{
    margin-bottom: 3rem!important;
  }
  .scrollspyHeading5{
    margin-bottom: 3rem!important;
  }
}